<center><img src="./img/logo.png" width="1050" height="1050" ></img></center> 
<div class="row" style="font-family: 'Zilla Slab', serif;">
    <div class="column side">
        <h2>Register</h2>
        <p>Register and make yourself a skilled person to be the best freelancer</p>
    </div>
    
    <div class="column middle" >
        <h2>Believe</h2>
        <p>" My son is now an ‘entrepreneur’.</p>
        <p>That’s what you’re called when you don’t have a job. "</p> 
        <h4>— Ted Turner, American entrepreneur, Founder of CNN</h4>
    </div>
    
    <div class="column side">
        <h2>Hire</h2>
        <p>Hire the best freelancers of your choice for your dream projects</p>
    </div>
</div>